$color-primary: #000000;
$color-secondary: #464646;

/**
 * Black
 */
$color-black-20: rgba(0, 0, 0, 0.2);
$color-black-13: rgba(0, 0, 0, 0.13);
$color-black-7: rgba(0, 0, 0, 0.7);

/**
 * White
 */
$color-white: #fff;

/**
 * Gray
 */
$color-gray: #CCCCCC;
$color-medium-gray: #999999;
$color-light-gray: #efefef;
/**
 * Error
 */
$color-error-40: #f7afa0;
$color-error-60: #f48870;
$color-error-80: #f06040;
$color-error-primary: #ec3811;
$color-error-red: #cb4141;

/**
 * Other
 */
$color-placeholder: #f5f5f5;
