.heading {
  &--level {
    &-1 {
      font-size: 3rem;
      line-height: 3.25rem;
    }

    &-2 {
      font-size: 1.75rem;
      line-height: 2rem;
    }
  }

  &--weight {
    &-light {
      font-weight: 300;
    }

    &-normal {
      font-weight: 400;
    }

    &-medium {
      font-weight: 500;
    }

    &-bold {
      font-weight: 700;
    }

    &-extra-bold {
      font-weight: 900;
    }
  }
}