@import './vars';

.tiptap {
  outline: none;

  ul {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    list-style: disc;
  }

  ol {
    padding: 0 2rem;
    list-style: decimal;
  }

  h1 {
    font-size: 3rem;
    line-height: 4.5rem;
  }

  h2 {
    font-size: 1.75rem;
    line-height: 3rem;
  }

  h3 {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  h4, h5, h6 {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }

  pre {
    background-color: $color-primary;
    color: $color-white;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
  }

  code {
    background-color: $color-light-gray;
    border-radius: 0.4rem;
    color: $color-primary;
    font-size: 1.4rem;
    padding: 0.25em 0.3em;
  }

  blockquote {
    border-left: 3px solid $color-medium-gray;
    margin: 1.5rem 0;
    padding-left: 1rem;

  }

  strong {
    font-weight: 500;
  }

  em {
    font-style: italic;
  }

  hr {
    border: none;
    border-top: 3px solid $color-medium-gray;
    margin: 2rem 0;
  }

  p {
    font-size: 1.25rem;
    line-height: 2.3rem;
    font-weight: 300;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
    color: $color-secondary;
  }

  li, h1, h2, h3, h4, h5, h6, p {
    @for $i from 1 through 8 {
      &[data-indent='#{$i}'] {
        $val: $i * 1rem;
        margin-bottom: $val;
      }
    }
  }
}
