@import '@/styles/vars';

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 0.4375rem 0 $color-black-13;
  background: $color-white;
  border-radius: 0.625rem;
  width: max-content;

  &__column {
    display: flex;
    align-items: center;
  }

  &__column {
    display: flex;
    align-items: center;
  }

  &__cell {
    display: flex;
    align-items: center;
    gap: 4px;

    &:not(:last-child) {
      padding-right: 0.5rem;
      margin-right: 0.5rem;
      border-right: 1px solid $color-placeholder;
    }
  }

  &--active {
    padding-left: 0.5rem;
    width: 100%;
  }
}

.button {
  &--active {
    border-color: $color-primary;
  }

  &--highlighted {
    padding: 0.5rem;
    border-radius: 0.625rem;
    background: $color-placeholder;
  }

  &--unactive {
    background-color: $color-primary;
    color: $color-white
  }
}

.langToggle {
  border: 1px solid $color-primary;
  border-radius: 3.125rem;
  font-size: 0.875rem;
  line-height: 1;
  color: $color-primary;
  width: 2.5rem;
  min-width: 2.5rem;
  height: 1.25rem;
  padding: 0.125rem 0.25rem;
  position: relative;
  margin-right: 0.9375rem;

  &--active.langToggle {
    &:after {
      right: -1px;
      left: auto;
    }
  }

  &:after {
    content: '';
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    min-width: 1.25rem;
    background-color: $color-primary;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: -1px;
  }
}